:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --bg-color: #FFFFFF;
    --section-color: #2F303A;
    --add-color: #2196F3;
    --text-color: #212121;
    --add-text-color: #757575;
    --letter-spacing: 0.03em;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    color: var(--text-color);
    font: var(--main-font-family);
    background-color: var(--bg-color);
    font-weight: 400;
    font-size: 14px;
}

.page-top {
    max-width: 1170px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-logo {
      font-family: var(--secondary-font-family);
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      color: black;
  }

  .logo-web {
    color: var(--add-color);
  }

  .site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font-family);
    color: var(--text-color);
    letter-spacing: 0.02em;
    line-height: 1.1;
  }
  .site-item {
    margin-right: 50px;
  }